[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"

[dev-packages]
rope = "*"
yapf = "*"
"flake8" = "*"
pytest = "*"

[requires]
python_version = "3.4.3"
